<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel Student masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$sID_class}">{$label Student sID}</th>
			<th class="{$bDay_class}">{$label Student bDay}</th>
			<th class="{$Gender_class}">{$label Student Gender}</th>
			<th class="{$reg_date_class}">{$label Student reg_date}</th>
			<th class="{$Country_class}">{$label Student Country}</th>
			<th class="{$fName_class}">{$label Student fName}</th>
			<th class="{$mInit_class}">{$label Student mInit}</th>
			<th class="{$lName_class}">{$label Student lName}</th>
			<th class="{$eMail_class}">{$label Student eMail}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$sID_class}">{$sID_mastervalue}</td>
			<td class="{$bDay_class}">{$bDay_mastervalue}</td>
			<td class="{$Gender_class}">{$Gender_mastervalue}</td>
			<td class="{$reg_date_class}">{$reg_date_mastervalue}</td>
			<td class="{$Country_class}">{$Country_mastervalue}</td>
			<td class="{$fName_class}">{$fName_mastervalue}</td>
			<td class="{$mInit_class}">{$mInit_mastervalue}</td>
			<td class="{$lName_class}">{$lName_mastervalue}</td>
			<td class="{$eMail_class}">{$eMail_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>