<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel Tutor masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$tID_class}">{$label Tutor tID}</th>
			<th class="{$cID_class}">{$label Tutor cID}</th>
			<th class="{$fName_class}">{$label Tutor fName}</th>
			<th class="{$mInit_class}">{$label Tutor mInit}</th>
			<th class="{$lName_class}">{$label Tutor lName}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$tID_class}">{$tID_mastervalue}</td>
			<td class="{$cID_class}">{$cID_mastervalue}</td>
			<td class="{$fName_class}">{$fName_mastervalue}</td>
			<td class="{$mInit_class}">{$mInit_mastervalue}</td>
			<td class="{$lName_class}">{$lName_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>